@keyframes float {

    0%,
    100% {
        transform: translatey(0)
    }

    50% {
        transform: translatey(-30px)
    }
}

.efeito-flutuante-infinito {
    animation: float 2s ease-in-out infinite;
}