@font-face {
    font-family: 'Poppins-Regular';
    src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins-Regular', sans-serif;
}


:root {
    --white-index: #fff;
    --black-index: #161616;
    --blue-index: #1187cf;
    --blueTrasition: #0ca2ff;
    --dark-b: #0d5d8f;
    --green: #99F503; 
    --yellow: #FFD13E;
    --orange: #E65E2C;

        /* Cores */
        --blue1: #;
        --blue2: #142AA6;
        --blue3: #5086F2;
        --blue4: #5CB9F2;
        --white: #fff;
        --black: #0D0D0D;


    --font-poppins-bold: 'Poppins-Bold';
}