*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
    color: #000;
}

:root{
    --branco: #FFFFFF;
    --header: #1C96E1;
    --fundo: #C1E6FD;
    --borda: #000000;
    --barraPreenc: #3EF150;
    --mensagem: #00000083;
    --bordaAvanc: #1c8126;
    --btnAvanc: #3EF150;
    --borda-btnOff: #5A7C90;
    --cor-btnOff: #79A2BB;
    --borda-btnOn: #15BE26;
    --cor-btnOn: #9CFFA5;
    --border-fim: #E17B1C;
    --background-fim: #FFCC9C;
    --text-fim: #E17B1C;
    --borda-btnFim1: #15BE26;
    --borda-btnFim2: #E1C01C;
    --cor-btnFim1: #9CFFA5;
    --cor-btnFim2: #FFEE9C;

}

/* Arredondamento de Bordas */
:root{
    --R-areaJogoBorda: 10px;
    --R-btnBorda: 10px;
    --R-barraBorda: 5px;
    --R-BoxletraJogo: 5px;
    --R-BtnFim-e-Text-Fim: 5px;
    --R-nav: 30px;
    --R-avatar: 30px;
    --R-btnAvanc: 50px;
}

/* TAMANHOS */
:root{
    --T-btnAvanc: 50px;
    --T-nav: 30px;
    --T-avatar: 30px;
    --T-letraFalada: 60px;
    --T-balaoW: 80px;
    --T-balaoH: 160px;
}


/* Letras Header */
:root{
    --F-logoHeader: 1.3rem;
    --F-nomeHeader: .7rem;
    --F-btnAvanc: 2rem;
    --F-weightBold:  bold;
    --F-weight500:  500;
    --F-weight600:  600;
    --F-weight700:  700;
    --F-weight800:  800;
    --F-weight900:  900;
}


/* Padding e Margin */
:root{
    --P-Box-mensagem: 8px;
    --P-mensagem: 10px;
    --M-right: 10px;
    --M-bottom: 10px;
    --M-top: 10px;
    --M-left: 10px;
    --MT-areaJogo: 5%;
    --P-header: 5px 7%;

}

/* Texto Jogo */
:root{
    --textoDesk1366: .6rem;
}



body{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    max-width: 1920px;
    max-height: 1080px;
    background: var(--fundo);
}
/***
****INICIO header****
***/

.headerNav{
    background-color: var(--header);
    width: 100%;
    padding: var(--P-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.headerNav .logo{
    font-weight: var(--F-weightBold);
    font-size: var(--F-logoHeader);
    color: var(--branco);
}

.navbar .ulNav{
    display: flex;
    gap: 30px;
}
.ulNav .liNav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--T-nav);
    height: var(--T-nav);
    border-radius: var(--R-nav);
    overflow: hidden;
    

}
.ulNav .liNav:nth-child(1){
    background-color: var(--branco);
}
.ulNav .liNav a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.ulNav .liNav img{
    width: 15px;
    height: 15px;
}
.headerNav .perfil{
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerNav .perfil .avatar{
    width: var(--T-avatar);
    height: var(--T-avatar);
    border-radius: var(--R-avatar);
}
.headerNav .perfil .nomeUser{
    font-size: var(--F-nomeHeader);
    color: var(--branco);
}

/***
****FIM header****
***/


.navegacao a i{
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    color: var(--nav-azul);
}

.navegacao #nav-jogos{
    background-color: transparent;
}
.navegacao #nav-jogos i{
    color: var(--branco);
}









/*
****SECTION BALAO****
*/
.jogo-balao{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 30px;
}
/*
**** FIM - SECTION BALAO****
*/


/*
****AREA DO JOGO:****
*/
.area-jogo{
    position: relative;
    width: 600px;
    height: 500px;
    background: url('./img/v1015-104a\ 2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid var(--header);
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
    cursor: url("./img/mao2.svg"), auto;
}

/*
****FIM - AREA DO JOGO:****
*/



/*
*****************
INICIO COMEÇO JOGO!!!!!
*****************
*/
.area-jogo .box-comecar{
    position: absolute;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    top: 0;
    background: var(--fundo);
    width: 100%;
    height: 100%;
}

.fadeOut{
    animation: fadeOut 1s ease-in-out forwards;
}
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none;
    }
  }



.area-jogo .box-comecar h1{
    font-size: 2.5em;
    color: var(--header);
    font-weight: 600;
    z-index: 2;
    margin-bottom: 20px;
}
.area-jogo .box-comecar span{
    z-index: 2;
    font-weight: 600;
    color: var(--barra);
}
.area-jogo .box-comecar .btn-play{
    z-index: 2;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: var(--header);
    background: var(--branco);
    border: 1px solid var(--header);
    animation: btn-play 1s ease-in-out infinite alternate;
    transition: .6s;
    cursor: url("./img/mao2.svg"), auto;
}
.area-jogo .box-comecar .btn-play:hover{
    background: var(--header);
    color: var(--branco);
    border: 1px solid var(--branco);
}

@keyframes btn-play {
    100%{
        transform: scale(1.1);
    }
}
/*
*****************
FIM COMEÇO JOGO!!!!!
*****************
*/






/*
*****************
INICIO Ico audio!!!!!
*****************
*/
.area-jogo .audio{
    position: absolute;
    top: 20px;
    right: 5%;
    width: 20px;
    height: 20px;
    z-index: 1;
}
.area-jogo .audio i{
    color: var(--audio);
    font-size: 1.5em;
}

.area-jogo .audio #off{
    color: var(--borda-btnOff);
    animation: audioOff .5s linear infinite alternate;
}

@keyframes audioOff {
    0%{
        transform: rotate(-7deg);
    }
    100%{
        transform: rotate(7deg);
    }
}

.area-jogo .audio #on{
    color: var(--header);
    animation: audioOn .5s linear infinite alternate;
}

@keyframes audioOn {
    0%{
        transform: rotate(-10deg);
    }
    100%{
        transform: scale(1.3);
    }
}

.area-jogo .microfone{
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    outline: none;
    border: 2px solid var(--cor-btnOff);
    cursor: url("./img/mao2.svg"), auto;
    font-size: 1.5em;
    overflow: hidden;
}
.area-jogo .microfone i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--header);
    cursor: url("./img/mao2.svg"), auto;
}
.area-jogo .microfone i:hover{
    color: var(--branco);
    background-color: var(--header);
    width: 100%;
    height: 100%;
    cursor: url("./img/mao2.svg"), auto;
}

/*
*****************
FIM Ico audio!!!!!
*****************
*/



/*
*****************
TOPO DO JOGO MOEDAS - BARRA DE ACERTO - AUDIO!!!!!
*****************
*/

.area-jogo .topo{
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    padding: 5px 5%;
}
.topo .moedas{
    display: flex;
    align-items: center;
    gap: 5px;
    pointer-events: none;
}
.topo .moedas i{
    color: var(--moeda);
    font-size: 1.5em;
    font-weight: 600;
}
.topo .moedas span{
    color: var(--moeda);
    font-size: 1.5em;
    font-weight: 600;
}

.topo .barra {
    position: relative;
    display: flex;
    margin: 0 auto;
    border: 1px solid var(--borda);
    border-radius: 4px;
    width: 250px;
    height: 20px;
    overflow: hidden;
  }
  
  .topo .barra::after {
    position: absolute;
    content: '';
    width: 90%;
    height: 3px;
    border: 10px;
    background: #ffffff36;
    top: 5px;
    left: 5%;
    right: 5%;
  }
  
  .topo .barra .acerto {
    animation: barra 1s ease-in-out forwards;
  }


/*
*****************
FIMMM ---> TOPO DO JOGO MOEDAS - BARRA DE ACERTO - AUDIO!!!!!
*****************
*/
  




/*
*****************
AREA DOS BALÕES!!!!!
*****************
*/
.area-jogo .baloes{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


.area-jogo .baloes .box-balao{
    position: relative;
    width: 80%;
    height: 60%;
}
.area-jogo .baloes .box-balao .balao1 {
    position: absolute;
    width: 45px;
    top: 0;
    animation: balao 2s linear infinite alternate;
    animation-delay: 0s;
}
.area-jogo .baloes .box-balao .balao2 {
    position: absolute;
    width: 35px;
    right: 10%;
    top: -10%;
    animation: balao 2s linear infinite alternate;
    animation-delay: 0.2s;
}

.area-jogo .baloes .box-balao .balao3 {
    position: absolute;
    width: 40px;
    right: 20%;
    bottom: -10%;
    animation: balao 2s linear infinite alternate;
    animation-delay: 0.4s;
}

.area-jogo .baloes .box-balao .balao4 {
    position: absolute;
    width: 50px;
    bottom: 0;
    left: 15%;
    animation: balao 2s linear infinite alternate;
    animation-delay: 0.6s;
}

.area-jogo .baloes .box-balao .balao5 {
    position: absolute;
    width: 55px;
    top: 20%;
    left: 40%;
    animation: balao-aumento 2s linear infinite alternate;
    animation-delay: 0.8s;
}


@keyframes balao {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: rotate(-5deg);
    }
    80%{
        transform: rotate(5deg);
    }
    100%{
        transform: translateY(-20%);
    }

}

@keyframes balao-aumento{
    0%{
        transform: translateY(20%);
    }
    100%{
        transform: scale(1.4)
    }
}

/*
*****************
FIM ---> AREA DOS BALÕES!!!!!
*****************
*/





/*
*****************
FIM DO JOGO!!!!!
*****************
*/

.area-jogo .fim{
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    background: #000000d3;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.area-jogo .fim .titulo-fim{
    font-size: 2.5em;
    font-weight: 600;
    color:var(--moeda);
}


.area-jogo .fim span{
    font-weight: 900;
    color: var(--borda-barra);
}


.area-jogo .fim p{
    font-size: 1.5em;
}
.area-jogo .fim .total_moedas{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color: var(--borda-barra);
    font-size: 2em;
}

/*
*****************
CONCLUSÃO FIM DO JOGO!!!!!
*****************
*/



/* Efeitos Estrelar */
.jogo-balao .container{
    position: absolute;
    width: 100%;
    height: 100%;
}
.jogo-balao .container .effect-estrelar .letra1 {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 1.8rem;
    font-weight: 900;
    color: #041431;
    animation: letras-quem-somos 1.5s ease alternate-reverse infinite;
    animation-delay: 0s;
}

.jogo-balao .container .effect-estrelar .letra2 {
    position: absolute;
    top: 20%;
    left: 30%;
    font-size: 1.3rem;
    font-weight: 900;
    animation: letras-quem-somos 1.5s ease alternate-reverse infinite;
    animation-delay: 0.1s;
}

.jogo-balao .container .effect-estrelar .letra3 {
    position: absolute;
    top: 50%;
    right: 5%;
    font-size: 3rem;
    font-weight: 900;

    animation: letras-quem-somos 1.5s ease alternate-reverse infinite;
    animation-delay: 0.2s;
}

.jogo-balao .container .effect-estrelar .letra4 {
    position: absolute;
    top: 40%;
    left: 5%;
    font-size: 4rem;
    font-weight: 900;
    animation: letras-quem-somos 1.5s ease alternate-reverse infinite;
    animation-delay: 0.3s;
}

.jogo-balao .container .effect-estrelar .letra5 {
    position: absolute;
    top: 60%;
    left: 15%;
    font-size: 2rem;
    font-weight: 900;
    animation: letras-quem-somos 1.5s ease alternate-reverse infinite;
    animation-delay: 0.4s;
}

.jogo-balao .container .effect-estrelar .letra6 {
    position: absolute;
    top: 60%;
    right: 15%;
    font-size: 1.3rem;
    font-weight: 900;
    animation: letras-quem-somos 1.5s ease alternate-reverse infinite;
    animation-delay: 0.5s;
}

.jogo-balao .container .effect-estrelar .letra7 {
    position: absolute;
    top: 19%;
    right: 15%;
    font-size: 5rem;
    font-weight: 900;
    animation: letras-quem-somos 1.5s ease alternate-reverse infinite;
    animation-delay: 0.6s;
}

.jogo-balao .container .effect-estrelar .letra8 {
    position: absolute;
    top: 10%;
    right: 2%;
    font-size: 1.1rem;
    font-weight: 900;
    animation: letras-quem-somos 1.5s ease alternate-reverse infinite;
    animation-delay: 0.7s;
}

.jogo-balao .container .effect-estrelar .letra9 {
    position: absolute;
    top: 25%;
    left: 8%;
    font-size: 3rem;
    font-weight: 900;
    animation: letras-quem-somos 1.5s ease alternate-reverse infinite;
    animation-delay: 0.8s;
}

.jogo-balao .container .effect-estrelar .letra10 {
    position: absolute;
    top: 75%;
    right: 12%;
    font-size: 1rem;
    font-weight: 900;
    animation: letras-quem-somos 1.5s ease alternate-reverse infinite;
    animation-delay: 0.9s;
}

.jogo-balao .container .effect-estrelar .letra11 {
    position: absolute;
    top: 75%;
    left: 6%;
    font-size: 1.2rem;
    font-weight: 900;
    animation: letras-quem-somos 1.5s ease alternate-reverse infinite;
    animation-delay: 1s;
}

.jogo-balao .container .effect-estrelar .letra12 {
    position: absolute;
    top: 50%;
    left: 20%;
    font-size: 0.9rem;
    font-weight: 900;
    animation: letras-quem-somos 1.5s ease alternate-reverse infinite;
    animation-delay: 1.1s;
}

.jogo-balao .container .effect-estrelar .letra13 {
    position: absolute;
    top: 40%;
    right: 15%;
    font-size: 0.9rem;
    font-weight: 900;
    animation: letras-quem-somos 1.5s ease alternate-reverse infinite;
    animation-delay: 1.2s;
}

.jogo-balao .container .effect-estrelar .letra14 {
    position: absolute;
    top: 30%;
    left: 25%;
    font-size: 1.1rem;
    font-weight: 900;
    animation: letras-quem-somos 1.5s ease alternate-reverse infinite;
    animation-delay: 1.3s;
}

.jogo-balao .container .effect-estrelar .letra15 {
    position: absolute;
    top: 70%;
    right: 5%;
    font-size: 1.4rem;
    font-weight: 900;
    animation: letras-quem-somos 1.5s ease alternate-reverse infinite;
    animation-delay: 1.4s;
}

.jogo-balao .container .effect-estrelar .letra16 {
    position: absolute;
    top: 15%;
    left: 35%;
    font-size: 1.2rem;
    font-weight: 900;
    animation: letras-quem-somos 1.5s ease alternate-reverse infinite;
    animation-delay: 1.5s;
}

.jogo-balao .container .effect-estrelar .letra17 {
    position: absolute;
    top: 45%;
    left: 40%;
    font-size: 1.3rem;
    font-weight: 900;
    animation: letras-quem-somos 1.5s ease alternate-reverse infinite;
    animation-delay: 1.6s;
}

.jogo-balao .container .effect-estrelar .letra18 {
    position: absolute;
    top: 80%;
    right: 25%;
    font-size: 1rem;
    font-weight: 900;
    animation: letras-quem-somos 1.5s ease alternate-reverse infinite;
    animation-delay: 1.7s;
}

.jogo-balao .container .effect-estrelar .letra19 {
    position: absolute;
    top: 20%;
    right: 30%;
    font-size: 1.5rem;
    font-weight: 900;
    animation: letras-quem-somos 1.5s ease alternate-reverse infinite;
    animation-delay: 1.8s;
}

.jogo-balao .container .effect-estrelar .letra21 {
    position: absolute;
    top: 25%;
    right: 10%;
    font-size: 2rem;
    font-weight: 900;
    animation: letras-quem-somos 1.5s ease alternate-reverse infinite;
    animation-delay: 2s;
}

.jogo-balao .container .effect-estrelar .letra22 {
    position: absolute;
    top: 70%;
    left: 10%;
    font-size: 1.3rem;
    font-weight: 900;
    animation: letras-quem-somos 1.5s ease alternate-reverse infinite;
    animation-delay: 2.1s;
}

.jogo-balao .container .effect-estrelar .letra23 {
    position: absolute;
    top: 35%;
    left: 5%;
    font-size: 1rem;
    font-weight: 900;
    animation: letras-quem-somos 1.5s ease alternate-reverse infinite;
    animation-delay: 2.2s;
}

.jogo-balao .container .effect-estrelar .letra24 {
    position: absolute;
    top: 55%;
    right: 15%;
    font-size: 1.2rem;
    font-weight: 900;
    animation: letras-quem-somos 1.5s ease alternate-reverse infinite;
    animation-delay: 2.3s;
}

.jogo-balao .container .effect-estrelar .letra25 {
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: 1.3rem;
    font-weight: 900;
    animation: letras-quem-somos 1.5s ease alternate-reverse infinite;
    animation-delay: 2.4s;
}

.jogo-balao .container .effect-estrelar .letra26 {
    position: absolute;
    top: 75%;
    left: 25%;
    font-size: 1.4rem;
    font-weight: 900;
    animation: letras-quem-somos 1.5s ease alternate-reverse infinite;
    animation-delay: 2.5s;
}

.jogo-balao .container .effect-estrelar .letra27 {
    position: absolute;
    top: 65%;
    right: 20%;
    font-size: 1.5rem;
    font-weight: 900;
    animation: letras-quem-somos 1.5s ease alternate-reverse infinite;
    animation-delay: 2.6s;
}

.jogo-balao .container .effect-estrelar .letra28 {
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 1.6rem;
    font-weight: 900;
    animation: letras-quem-somos 1.5s ease alternate-reverse infinite;
    animation-delay: 2.7s;
}

.jogo-balao .container .effect-estrelar .letra29 {
    position: absolute;
    top: 50%;
    right: 30%;
    font-size: 1.7rem;
    font-weight: 900;
    animation: letras-quem-somos 1.5s ease alternate-reverse infinite;
    animation-delay: 2.8s;
}

.jogo-balao .container .effect-estrelar .letra30 {
    position: absolute;
    top: 30%;
    left: 30%;
    font-size: 1.8rem;
    font-weight: 900;
    animation: letras-quem-somos 1.5s ease alternate-reverse infinite;
    animation-delay: 2.9s;
}

.jogo-balao .container .effect-estrelar .letra31 {
    position: absolute;
    top: 60%;
    right: 10%;
    font-size: 2rem;
    font-weight: 900;
    animation: letras-quem-somos 1.5s ease alternate-reverse infinite;
    animation-delay: 3s;
}

.jogo-balao .container .effect-estrelar .letra32 {
    position: absolute;
    top: 25%;
    left: 20%;
    font-size: 2rem;
    font-weight: 900;
    animation: letras-quem-somos 1.5s ease alternate-reverse infinite;
    animation-delay: 3.1s;
}

.jogo-balao .container .effect-estrelar .letra33 {
    position: absolute;
    top: 70%;
    right: 8%;
    font-size: 1.6rem;
    font-weight: 900;
    animation: letras-quem-somos 1.5s ease alternate-reverse infinite;
    animation-delay: 3.2s;
}
@keyframes letras-quem-somos {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}



.area-jogo .effeitoAcerto{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 20%;
    z-index: 999;
}

.area-jogo .effeitoAcerto .joinhaUp{
    width: 100px;
    height: 100px;
}

.area-jogo .effeitoAcerto .joinhaDown{
    display: none;
    width: 100px;
    height: 100px;
}





/*
*****************
MEDIA SCREENS!!!!!
*****************
*/
@media screen and (min-width: 769px){
    .menu-mobile,
    .area-jogo .mobile-aud{
        display: none;
    }


}

@media only screen and (max-width: 414px){

}

@media only screen and (max-width: 768px){
    .jogo-balao{
        padding: 0px;
    }
    .area-jogo{
        width: 100%;
        height: 100%;
        background-color: #00000054;
        backdrop-filter: blur(2px);
        border: none;

    }


    .area-jogo .baloes .box-balao .balao1 {
        position: absolute;
        width: 80px;
        top: 15%;
        animation: balao 2s linear infinite alternate;
        animation-delay: 0s;
    }
    .area-jogo .baloes .box-balao .balao2 {
        position: absolute;
        width: 55px;
        right: 10%;
        top: 15%;
        animation: balao 2s linear infinite alternate;
        animation-delay: 0.2s;
    }
    
    .area-jogo .baloes .box-balao .balao3 {
        position: absolute;
        width: 65px;
        right: 20%;
        bottom: -14%;
        animation: balao 2s linear infinite alternate;
        animation-delay: 0.4s;
    }
    
    .area-jogo .baloes .box-balao .balao4 {
        position: absolute;
        width: 70px;
        bottom: 0;
        left: 15%;
        animation: balao 2s linear infinite alternate;
        animation-delay: 0.6s;
    }
    
    .area-jogo .baloes .box-balao .balao5 {

        width: 80px;
        top: 43%;
        left: 40%;
        animation: balao-aumento 2s linear infinite alternate;
        animation-delay: 0.8s;
    }

    .nav-bar{
        display: none;
    }

   header{
    top: -45px;
    background: transparent;
   }
   header .menu-mobile{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


   }
    header .menu-mobile .logo-mob{
        color: var(--branco);
        font-weight: 600;
        font-size: 3em;
    }

    header .menu-mobile .menu{
        
        position: relative;
        margin-right: -70px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 200px;
    }

    header .menu-mobile .menu li{
        position: absolute;
        left: 0;
        transform-origin: 100px;
        transition: .5s;
        transition-delay: calc(0.1s * var(--i));
        transform: rotate(0deg) translateX(70px);
        
    }

    header .menu-mobile .menu.active li{
        transform: rotate(calc(-230deg / 4 * var(--i)));
    }
    header .menu-mobile .menu li a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background: #fff;
        border: 1px solid #b9b9b9;
        transform: rotate(calc(-230deg / -4 * var(--i)));
    }
    header .menu-mobile .menu li a i{
        color: #1C96E1;
    }

    header .menu-mobile .menu .toggle{
        position: absolute;
        width: 60px;
        height: 60px;
        background: var(--branco);
        border: 1px solid #b9b9b9;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
        border-radius: 60px;
        cursor: pointer;
        font-size: 1.5em;
        transition: transform 1.25s;
        
    }
    header .menu-mobile .menu .toggle i{
        color: #b9b9b9;
    }

    .menu.active .toggle{
        transform: rotate(315deg);
    }


    .area-jogo .topo{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        width: 100%;
        gap: 20px;
        padding: 5px 5%;
    }

    .area-jogo .topo .moedas i,
    .area-jogo .topo .moedas span{
        font-size: 2em;
        color: var(--branco);
    }

    .topo .barra {
        height: 30px;
        
      }

      .area-jogo .audio{
        display: none;
      }
    .area-jogo .mobile-aud{
        position: absolute;
        bottom: 20px;
        left: 5%;

    }

    .area-jogo .mobile-aud i{
        color: var(--audio);
        font-size: 1.5em;
    }
    
    .area-jogo .mobile-aud #offmob{
        color: var(--vermelho);
        animation: audioOff .5s linear infinite alternate;
    }
    
    @keyframes audioOff {
        0%{
            transform: rotate(-7deg);
        }
        100%{
            transform: rotate(7deg);
        }
    }
    
    .area-jogo .mobile-aud #onmob{
        color: var(--verde);
        animation: audioOn .5s linear infinite alternate;
    }
    
    @keyframes audioOn {
        0%{
            transform: rotate(-10deg);
        }
        100%{
            transform: scale(1.3);
        }
    }
}


@media only screen and (min-height: 1080px){

    .logo{
        color: var(--branco);
        font-size: 3em;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .navegacao a{
        width: 60px;
        height: 60px;
        border-radius: 60px;
    }
    .navegacao a i{
        font-size: 1.5em;
    }

    .area-perfil a{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .perfil{
        width: 60px;
        height: 60px;
        border-radius: 60px;
    }
    .perfil img{
        height: 100%;
        width: 100%;
    }
    
    .area-perfil p{
        font-size: 1.5em;
    }

    .area-jogo{
        width: 1000px;
        height: 800px; 
    }
    .area-jogo .audio{
        top: 40px;
        right: 40px;
        width: 80px;
        height: 80px;

    }

    .area-jogo .box-comecar h1{
        font-size: 3.5em;
    }

    .area-jogo .box-comecar .btn-play{
        z-index: 2;
        width: 200px;
        height: 50px;
        font-size: 1.5em;
    }

    .area-jogo .topo{
        margin-top: 40px;
    }
    .topo .moedas{
        display: flex;
        align-items: center;
        gap: 10px;
        pointer-events: none;
    }
    .topo .moedas i{
        color: var(--moeda);
        font-size: 2em;
        font-weight: 600;
    }
    .topo .moedas span{
        color: var(--moeda);
        font-size: 2em;
        font-weight: 600;
    }
    
    .topo .barra {
        position: relative;
        display: flex;
        margin: 0 auto;
        border: 1px solid var(--borda-barra);
        border-radius: 4px;
        width: 400px;
        height: 30px;
        overflow: hidden;
      }


      .area-jogo .baloes .box-balao .balao1 {
        position: absolute;
        width: 100px;
        top: 0;
        animation: balao 2s linear infinite alternate;
        animation-delay: 0s;
    }
    .area-jogo .baloes .box-balao .balao2 {
        position: absolute;
        width: 90px;
        right: 10%;
        top: -10%;
        animation: balao 2s linear infinite alternate;
        animation-delay: 0.2s;
    }
    
    .area-jogo .baloes .box-balao .balao3 {
        position: absolute;
        width: 85px;
        right: 20%;
        bottom: -10%;
        animation: balao 2s linear infinite alternate;
        animation-delay: 0.4s;
    }
    
    .area-jogo .baloes .box-balao .balao4 {
        position: absolute;
        width: 90px;
        bottom: 0;
        left: 15%;
        animation: balao 2s linear infinite alternate;
        animation-delay: 0.6s;
    }
    
    .area-jogo .baloes .box-balao .balao5 {
        position: absolute;
        width: 100px;
        top: 20%;
        left: 40%;
        animation: balao-aumento 2s linear infinite alternate;
        animation-delay: 0.8s;
    }
    

}










.area-jogo .final{
    display: none;
    position: absolute;
    align-items: center;
    flex-direction: column;
    background: #000000d3;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.final .text-fim{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.text-fim p{
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: var(--text-fim);
    font-weight: var(--F-weightBold);
    width: 330px;
    height: 50px;
    text-align: center;
    background-color: var(--background-fim);
    border: 2px solid var(--border-fim);
    border-radius: var(--R-BtnFim-e-Text-Fim);
}
.final .btn-fim{
    gap: 20%;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
}
.btn-fim .btnFinal {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 60px;
    border-radius: var(--R-BtnFim-e-Text-Fim);
    cursor: url("./img/mao2.svg"), auto;
}
.btn-fim .btnFinal img{
    width: 35px;
}





.btn-fim .btnFinal:nth-child(2){
    position: relative;
    border: 2px solid var(--borda-btnFim1);
    background-color: var(--cor-btnFim1);
    cursor: url("./img/mao2.svg"), auto;
}
.btn-fim .btnFinal:nth-child(2)::after{
    position: absolute;
    content: 'Avançar';
    font-weight: 600;
    bottom: -30px;
    color: var(--branco);
    text-shadow: 0px 0px 5px var(--borda-btnFim1);
    cursor: url("./img/mao2.svg"), auto;
}

.btn-fim .btnFinal:nth-child(1){
    position: relative;
    border: 2px solid var(--borda-btnFim2);
    background-color: var(--cor-btnFim2);
    cursor: url("./img/mao2.svg"), auto;
}
.btn-fim .btnFinal:nth-child(1)::after{
    position: absolute;
    content: 'Recomeçar';
    font-weight: 600;
    bottom: -30px;
    color: var(--branco);
    text-shadow: 0px 0px 5px var(--borda-btnFim2);
    cursor: url("./img/mao2.svg"), auto;
}




















