*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #EBF7FF;
}

/*Estilos para o header*/
nav{
    background-color: #1C96E1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: white;
  font-size: xx-large;
}

ul{
    list-style-type: none;
    display: flex;
}

ul img{
    width: 30px;
    height: auto;
    margin-left: 15px;
}

.contUser{
    display: flex;
    align-items: center;
}

.profile-img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: white;
  font-size: medium;
}

.iconHome{
    fill: #EBF7FF;
}

.iconHome :active{
    fill: #1C96E1;
}

.iconStore{
    fill: #EBF7FF;
}

.iconStore :active{
    fill: #1C96E1;
}

/*Container*/

.container{
    display: flex;
}

.container h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: black;
    font-size: 20px;
}

.container p{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: black;
    font-size: 13px;
}
/*Estilos para a Sala de Jogos*/

.contSalaJogos{
    display: flex;
    flex-direction: column;
    width: 145vh;
    height: 100vh;
    align-items: center;
    border-right: 1px solid #6AC3FA;
    padding-top: 30px;
}

.contJogo{
    background-color: #1C96E1;
    width: 46vh;
    height: 32vh;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 30px;
}

.contJogo h1{
    color: white;
}

.jogos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 115vh;
}

/*Estilos para o perfil*/

.contPerfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vh;
    padding-top: 30px;
}

.mb{
    margin-bottom: 7px;
}

.moedas{
    display: flex;
    align-items: center;
    justify-content: center;
}

.moedas img{
    width: 35px;
}

.SideToSide{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45vh;
}

.perfilUser{
    background-color: #6AC3FA;
    width: 42vh;
    height: 32vh;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 30px;
}

.perfilUser h1{
    color: white;
}