@import url(default.css);
@import url(animations.css);

@media screen and (max-width: 768px) {}

@media screen and (min-width: 769px) and (max-width: 1024px) {}

@media screen and (min-width: 1025px) {}