@import url(./default.css);
@import url(./animations.css);

/* Mobile */
@media screen and (max-width: 768px) {

    .desktop-view {
        display: none;
    }

    body {
        background-color: var(--blue0);
    }

    .top-bar {
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 5%;
        align-items: center;
        color: var(--black2);
        z-index: 1000;
        background-color: var(--blue0);
        border-bottom: .5px solid #00000020;
        box-shadow: 1px 1px 1px #00000020;
        transition: 200ms ease-in-out;
    }

    .info-user {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 60%;
    }

    .info-user img {
        width: 45px;
        height: auto;
    }

    .info-user span {
        font-family: var(--font-poppins-bold);
        margin: 0% 3%;
    }

    .credits {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .credits img {
        width: 32px;
        height: auto;
        margin: 0;
    }

    .credits span {
        display: flex;
        font-family: var(--font-poppins-bold);
        justify-content: center;
        align-items: center;
        margin: 2px;
        padding: 5px;
    }

    .mobile-view main {
        position: relative;
        top: 10vh;
        padding: 1% 5%;
    }

    .mobile-view .title {
        display: flex;
        justify-content: left;
        margin: 10% 1%;
    }

    .mobile-view .title h2 {
        font-size: 2rem;
        color: var(--black2);
        font-family: var(--font-poppins-bold);
    }

    .games-list {
        margin: 0% 0% 22% 0%;
    }

    .game {
        padding: 1%;
        margin: 0% 0% 5% 0%;
        text-decoration: none;
        color: var(--black2);
        transition: 200ms ease-in-out;
    }

    .game .title-game p {
        font-family: var(--font-poppins-bold);
        margin: 1% 0%;
        font-size: 1.1rem;
    }

    .background-card-game {
        border: 5px solid var(--blue2);
        background-image: url(../images/Frame-game1.png);
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;
        height: 20vh;
        box-shadow: 1px 5px 1px #00000020;
    }

    .bottom-navigation-bar {
        z-index: 1000;
        width: 100%;
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--white);
        box-shadow: 0px -10px 5px #00000020;
        padding: 2% 5%;
    }

    .bottom-navigation-bar a {
        margin: 2% 5%;
        padding: 1%;
        text-decoration: none;
        color: var(--black2);
        transition: 200ms ease-out;
    }

    .bottom-navigation-bar a img {
        width: 36px;
        height: auto;
        margin: 0px 5px;
    }

    #store {
        width: 38px;
        height: 40px;
    }

    /* Referente a mapeação dos niveis*/

    .game .title-game-map p {
        font-family: var(--font-poppins-bold);
        margin: 1% 0%;
        font-size: 1.6rem;
        text-align: center;
        color: #1C96E1;
    }

    .fase-list {
        position: absolute;
        left: 40%;
    }

    .game-1 {
        position: relative;
        left: 10vw;
    }

    .game-2 {
        position: relative;
        left: 0vw;
    }

    .game-3 {
        position: relative;
        left: 10vw;
    }

    .game-4 {
        position: relative;
        right: 0vw;
    }

    .game-5 {
        position: relative;
        left: 10vw;
    }


    /* Tablets */
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .mobile-view {
        display: none;
    }

    .mobile-view {
        display: none;
    }

    nav {
        position: fixed;
        width: 100%;
        background-color: var(--blue3);
        padding: 0% 5%;
        color: var(--white);
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 2px 2px 2px #00000070;
        z-index: 999;
    }

    .logo-area {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-area span {
        font-family: var(--font-poppins-bold);
        font-size: 1.5rem;
        margin: 0% 2%;
    }

    .logo-area img {
        width: 55px;
        height: auto;
    }

    .navigation ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navigation ul li {
        list-style: none;
        margin: 15px;
    }

    .navigation a {
        color: var(--white);
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        transition: 200ms ease-out;
    }

    .navigation a img {
        width: 28px;
        height: auto;
    }

    .navigation a:hover {
        background-color: var(--white);
        transition: 200ms;
        border-radius: 45px;
    }

    .navigation a:hover svg {
        fill: #000;
    }

    .profile {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0% 0% 0% 5%;

    }

    .profile-pic {
        display: flex;
        align-items: center;
    }

    .profile-pic span {
        margin: 0% 3%;
        font-family: var(--font-poppins-bold);
    }

    .profile .profile-pic img {
        width: 32px;
        height: auto;
    }

    .desktop-view main {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 10vh;
        color: var(--black2);
    }

    .title-desktop-room {
        padding: 2% 5%;
        display: flex;
        justify-content: center;
    }

    .title-desktop-room h2 {
        font-family: var(--font-poppins-bold);
        color: var(--black2);
        display: flex;
        justify-content: center;
    }

    .games-desktop-itens {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        transition: 200ms ease-in-out;
    }

    .bg-game {
        background-image: url(../images/Frame-game1.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 255px;
        height: 155px;
        border-radius: 10px;
        border: 5px solid var(--blue2);
        box-shadow: 0px 5px 5px #00000060;
    }

    .game-item {
        display: flex;
        justify-content: center;
        margin: 2%;
        transition: 200ms ease-in-out;
        border-radius: 10px;
        text-decoration: none;
        cursor: pointer;
        padding: 10px;
    }

    .game-item:hover {
        -webkit-animation: pulsate-fwd 1s ease-in-out infinite both;
        animation: pulsate-fwd 1s ease-in-out infinite both;
    }

    .profile-menu {
        border-left: 1px solid var(--blue2);
        height: 100vh;
    }

    .games-desktop {
        position: relative;
        top: 5vh;
        width: 70vw;
    }

    .title-game-item p {
        font-family: var(--font-poppins-bold);
        color: var(--black2);
    }

    .profile-menu {
        padding: 2%;
        width: 27%;
    }

    .title-profile-menu {
        display: flex;
        justify-content: center;
        margin-bottom: 12%;
    }

    .modal-content {
        font-family: 'Mulish', sans-serif;
        background-color: var(--background);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 1rem;
    }

    .edit-btn {
        border-radius: 25%;
        appearance: none;
        padding: 1vw 0.5vw;
        color: #323AC0;
        outline: none;
        border: none;
        display: flex;
        box-shadow: rgb(63, 63, 63) 0px 1px 6px;
        cursor: pointer;
        position: absolute;
        right: 2vw;
        top: 20%;
    }

    .edit-name-dialog {
        border-radius: 0.75rem;
        box-shadow: rgba(149, 157, 167, 0.2) 0px 8px 24px;
        max-width: 36rem;
        margin: 0 auto;
        width: 100%;
        margin-top: 4rem;
        border: none;
        animation: fadeInAnimation ease-in-out 0.5s forwards;
    }

    .close-btn {
        background-color: inherit;
        cursor: pointer;
        border: none;
    }

    .edit-name-dialog header {
        display: flex;
        min-height: 4vh;
        padding: 1.5vh 2vw 0.75vh 2vw;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1% solid #F3F3F4
    }

    .edit-name-dialog--fadeout {
        animation: fadeOutAnimation ease-in-out.5s forwards
    }

    .save-name-dialog__content {
        padding: 2vw;
    }

    .save-name-wrapper {
        display: flex;
        color: #9BA2A4;
        border-radius: 0.5rem;
        font-weight: 700;
        justify-content: space-between;
        background-color: #F3F3F4;
        padding: 0.25;
        padding-left: 1.5rem;
    }

    .save-name-wrapper input {
        outline: none;
        border: none;
        width: 100%;
        font-weight: 800;
        background-color: inherit;
        font-size: 1.2rem;
    }

    .save-name-wrapper button {
        color: #323AC0;
        background-color: white;
        white-space: nowrap;
        padding: 0.5vh 1vw;
        border-radius: 0.4vw;
        font-weight: 800;
        cursor: pointer;
        display: flex;
        gap: 0.5%;
        font-size: 1.1rem;
        align-items: center;
        border: none;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 3px 6px;
    }

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
            visibility: hidden;
        }

        100% {
            opacity: 1;
            visibility: visible
        }
    }

    .avatar-container {
        background-color: var(--blue2);
        border-radius: 5px;
        padding: 0% 3%;
    }

    .name-user span {
        color: var(--white);
        font-family: var(--font-poppins-bold);
        font-size: 1.2rem;
        z-index: 15;
    }

    .ava {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 10;
    }

    .circle {
        content: normal;
        background-color: var(--blue3);
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }

    .semi-circle {
        margin-top: 5px;
        content: normal;
        background-color: var(--blue3);
        height: 100px;
        width: 150px;
        border-radius: 100% 100% 0% 0%;
    }

    .information-user {
        display: flex;
    }

    .enter-coin {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--black2);
    }

    .coins {
        display: flex;
        align-items: center;
    }

    .enter-coin img {
        width: 30px;
    }

    .enter-coin span {
        padding: 5px;
        font-family: var(--font-poppins-bold);
    }

    .infos {
        padding: 5px;
    }

    .infos span {
        color: var(--black2);
        font-family: var(--font-poppins-bold);
    }
}

/* Desktops */
@media screen and (min-width: 1025px) {

    .mobile-view {
        display: none;
    }

    nav {
        position: fixed;
        width: 100%;
        background-color: var(--blue3);
        padding: 0% 5%;
        color: var(--white);
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 2px 2px 2px #00000070;
        z-index: 999;
        top: 0;
    }

    .games-desktop {
        position: relative;
        padding: 5%;
    }


    .logo-area {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-area span {
        font-family: var(--font-poppins-bold);
        font-size: 1.5rem;
        margin: 0% 2%;
    }

    .logo-area img {
        width: 55px;
        height: auto;
    }

    .navigation ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navigation ul li {
        list-style: none;
        margin: 15px;
    }

    .navigation a {
        color: var(--white);
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        transition: 200ms ease-out;
    }

    .navigation a img {
        width: 28px;
        height: auto;
    }

    .navigation a:hover {
        background-color: #ffffff65;
        transition: 200ms;
        border-radius: 5px;
    }

    .navigation a:hover svg {
        fill: #000;
    }

    .profile {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0% 0% 0% 5%;
        opacity: 1;
    }

    ;

    .img-logoff {
        width: 3%;
    }

    .profile .profile-pic img {
        width: 0px;
        height: auto;
    }

    .desktop-view main {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 10vh;
        color: var(--black2);
    }

    .title-desktop-room {
        padding: 2% 5%;
        display: flex;
        justify-content: center;
    }

    .title-desktop-room h2 {
        font-family: var(--font-poppins-bold);
        color: var(--black2);
        display: flex;
        justify-content: center;
    }

    .games-desktop-itens {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        transition: 200ms ease-in-out;
    }

    .bg-game {
        background-image: url(../images/Frame-game1.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 255px;
        height: 155px;
        border-radius: 10px;
        border: 5px solid var(--blue2);
        box-shadow: 0px 5px 5px #00000060;
    }

    .game-item {
        display: flex;
        justify-content: center;
        margin: 2% 5%;
        transition: 200ms ease-in-out;
        border-radius: 10px;
        text-decoration: none;
        cursor: pointer;
    }

    .game-item:hover {
        -webkit-animation: pulsate-fwd 1s ease-in-out infinite both;
        animation: pulsate-fwd 1s ease-in-out infinite both;
    }

    .profile-menu {
        border-left: 1px solid var(--blue2);
        height: 100vh;
    }

    .games-desktop {
        position: relative;
        top: 5vh;
        width: 70vw;
    }

    .title-game-item p {
        font-family: var(--font-poppins-bold);
        color: var(--black2);
    }

    .profile-menu {
        padding: 5% 2%;
        width: 27%;
    }

    .title-profile-menu {
        display: flex;
        justify-content: center;
        margin-bottom: 12%;
    }

    .modal-content {
        font-family: 'Mulish', sans-serif;
        background-color: var(--background);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 1rem;
    }

    .edit-btn {
        border-radius: 25%;
        appearance: none;
        padding: 1vw 0.5vw;
        color: #323AC0;
        outline: none;
        border: none;
        display: flex;
        box-shadow: rgb(63, 63, 63) 0px 1px 6px;
        cursor: pointer;
        position: absolute;
        right: 2vw;
        top: 20%;
    }

    .edit-name-dialog {
        border-radius: 0.75rem;
        box-shadow: rgba(149, 157, 167, 0.2) 0px 8px 24px;
        max-width: 36rem;
        margin: 0 auto;
        width: 100%;
        margin-top: 4rem;
        border: none;
        animation: fadeInAnimation ease-in-out 0.5s forwards;
    }

    .close-btn {
        background-color: inherit;
        cursor: pointer;
        border: none;
    }

    .edit-name-dialog header {
        display: flex;
        min-height: 4vh;
        padding: 1.5vh 2vw 0.75vh 2vw;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1% solid #F3F3F4
    }

    .edit-name-dialog--fadeout {
        animation: fadeOutAnimation ease-in-out.5s forwards
    }

    .save-name-dialog__content {
        padding: 2vw;
    }

    .save-name-wrapper {
        display: flex;
        color: #9BA2A4;
        border-radius: 0.5rem;
        font-weight: 700;
        justify-content: space-between;
        background-color: #F3F3F4;
        padding: 0.25;
        padding-left: 1.5rem;
    }

    .save-name-wrapper input {
        outline: none;
        border: none;
        width: 100%;
        font-weight: 800;
        background-color: inherit;
        font-size: 1.2rem;
    }

    .save-name-wrapper button {
        color: #323AC0;
        background-color: white;
        white-space: nowrap;
        padding: 0.5vh 1vw;
        border-radius: 0.4vw;
        font-weight: 800;
        cursor: pointer;
        display: flex;
        gap: 0.5%;
        font-size: 1.1rem;
        align-items: center;
        border: none;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 3px 6px;
    }

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
            visibility: hidden;
        }

        100% {
            opacity: 1;
            visibility: visible
        }
    }

    .avatar-container {
        background-color: var(--blue2);
        border-radius: 5px;
        padding: 2% 3%;
    }

    .name-user span {
        color: var(--black2);
        font-family: var(--font-poppins-bold);
        font-size: 1.2rem;
        z-index: 15;
    }

    #campo,
    #salvar {
        display: none;
    }

    .ava {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 10;
    }

    .circle {
        content: normal;
        background-color: var(--blue3);
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }

    .semi-circle {
        margin-top: 5px;
        content: normal;
        background-color: var(--blue3);
        height: 100px;
        width: 150px;
        border-radius: 100% 100% 0% 0%;
    }

    .information-user {
        display: flex;
    }

    .enter-coin {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--black2);
    }

    .coins {
        display: flex;
        align-items: center;
    }

    .enter-coin img {
        width: 30px;
    }

    .enter-coin span {
        padding: 5px;
        font-family: var(--font-poppins-bold);
    }

    .infos {
        padding: 5px;
    }

    .infos span {
        color: var(--black2);
        font-family: var(--font-poppins-bold);
    }

    .information-litera p {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .desktop-view {
        overflow-y: hidden;
    }

    .games-desktop {
        padding: 0;
    }

    .img-logoff {
        width: 32px;
    }
    .label-progresso{
        font-size: 14px;
        text-align: center;
    }
    .barra{
        width: 100%;
        height: 20px;
        padding: 1px 1px;
        border-radius: 10px;
        border: solid 2px var(--blue6);
    }
    .barra .progresso{
        background-color: var(--blue6);
        height: 100%;
        border-radius: 10px;
    }
}