/* Fontes Tipográficas */

@font-face {
    font-family: 'Poppins-Black';
    src: url(../fonts/Poppins/Poppins-Black.ttf);
}

@font-face {
    font-family: 'Poppins-BlackItalic';
    src: url(../fonts/Poppins/Poppins-BlackItalic.ttf);
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

:root {
    --blue0: #ebf7ff;
    --blue2: #6ac3fa;
    --blue3: #1187cf;
    --blue4: #1639b1;
    --blue5: #1639b1;
    --white: #ffffff;
    --black: #000;

    --blueTrasition: #0ca2ff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins-Regular', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

@media screen and (max-width: 768px) {}

@media screen and (min-width: 769px) and (max-width: 1024px) {}

@media screen and (min-width: 1025px) {
    header {
        height: 10vh;
    }

    nav {
        position: fixed;
        padding: .5% 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        box-shadow: 0px 2px 2px #0000002c;
    }

    .logo-area {
        font-size: 2rem;
        color: var(--blue2);
        font-weight: bold;
    }

    .links {
        display: flex;
    }

    .links ul {
        display: flex;
    }

    .links li {
        display: flex;
    }

    .links a {
        padding: 10px;
        text-decoration: none;
        color: var(--black);
    }
    
    .enter {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .enter a {
        text-decoration: none;
        color: var(--black);
        padding: 5px 15px;
        border: 2px solid var(--blue2);
        border-radius: 10px;
        transition: 500ms;
    }

    .enter a:hover {
        color: var(--white);
        background-color: var(--blue2);
    }
    #section-1{
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: row;
        /* border-top: solid 2px var(--blue3); */
    }
    #section-1-apresentacao{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5%;
    }
    #apresentacao-titulo{
        font-size: 40px;
        color: #000;
        font-family: 'Poppins-Regular';
        margin-bottom: 1%;
        font-weight: 600;
    }
    #apresentacao-titulo span{
        color: var(--blue3);
        font-size: 50px;
        font-weight: 700;
    }
    #comecar{
        display: flex;
        align-items: center;
        
    }
    #comecar a{
        text-decoration: none;
        color: #fff;
        padding: 10px 25px;
        background-color: var(--blue3);
        border-radius: 10px;
        transition: 400ms;
    }
    #comecar a:hover{
        background-color: var(--blueTrasition);
    }

    #section-1-img{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #apresentacao-subtitulo{
        font-size: 25px;
        color: #000;
        font-family: 'Poppins-Regular';
        margin-bottom: 1%;
        font-weight: 600;
    }
    #apresentacao-subtitulo span{
        font-size: 25px;
        color: var(--blue4);
        font-weight: 600;
    }
    #section-1-img img{
        width: 85%;
    }
    /* section 2 */
    #section-2{
        width: 100%;
        height: 15vh;
        border-top: 2px solid var(--blue5);
        border-bottom: 2px solid var(--blue5);
        background-color: var(--blue3);
    }
    #section-2-apresentacao{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #section-2-apresentacao  p{
        color: var(--white);
        font-size: 30px;
        font-family: 'Poppins-Regular';
    }
    #section-2-apresentacao p > span{
        font-weight: 600;
    }
    /* section-3 */
    #section-3{
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .section-3-conteiner{
        width: 32%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-3-cards{
        width: 70%;
        height: 80%;
        border-radius: 10px;
        border: solid 2px var(--blue5);
        padding: 5%;
        box-shadow: var(--blue2) 25px 25px 0px;
    }
    #section-4{
        width: 100%;
        height: 15vh;
        border-top: 2px solid var(--blue5);
        border-bottom: 2px solid var(--blue5);
        background-color: var(--blue3);
    }
    #section-4-apresentacao{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #section-4-apresentacao  p{
        color: var(--white);
        font-size: 30px;
        font-family: 'Poppins-Regular';
    }
    #section-4-apresentacao p > span{
        font-weight: 600;
    }
    #section-5{

    }
    #img_game{
        width: 40%;
        height: auto;
        margin-top: 7%;
        margin-left: 5%;
        border-radius: 10px;
        box-shadow: #f2f2f2 -25px -25px 0px
    }

    #img_menina{
        position: relative;
        left: 80%;
        width: 20%;
        height: auto;
    }
    #section-6{
        width: 100%;
        height: 5vh;
        border-top: 7px solid var(--blue4);
        border-bottom: 7px solid var(--blue4);
        background-color: var(--blue3);
    }
    .titulo-card{
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
    }
    .titulo-card p {
        color:var(--blue4);
        font-size: 35px;
    }
    .conteudo-card{
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
    }
    .conteudo-card p{
        color:var(--black);
        font-size: 20px;
    }


    footer{
        height: 20vh;
    }
}