@import url(./default.css);
@import url(./animations.css);

 
@media screen and (max-width: 768px) {

    .desktop-view {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--dark-blue);
        height: 100vh;
        padding: 5%;
    }

    .container-desktop {
        background-color: var(--white);
        border-radius: 5px;
        padding: 5%;
        -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    .arara-imagem img {
        width: 100px;
    }

    .title p {
        display: none;
    }

    .content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }

    .content h1 {
        font-family: var(--font-poppins-bold);
        color: var(--blue3);
        margin: 5px;
        font-size: 2rem;
    }

    .formu {
        margin: 5px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .formu form h2 {
        color: var(--blue3);
        font-family: var(--font-poppins-bold);
    }

    .item input {
        width: 100%;
        border: 1px solid var(--blue3);
        padding: 5px;
        border-radius: 5px;
    }

    .item {
        margin: 2% 0%;
    }

    .item label {
        font-family: var(--font-poppins-bold);
        color: var(--black2);
    }

    .item button {
        margin-top: 2%;
        width: 100%;
        border: none;
        color: var(--white);
        background-color: var(--blue3);
        border-radius: 5px;
        padding: 5px;
        font-family: var(--font-poppins-bold);
    }

    .register {
        font-size: .8rem;
        display: flex;
    }

    .register a {
        text-decoration: none;
        color: var(--blue3);
    }

    .return {
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }

    .return a {
        text-decoration: none;
        color: var(--blue3);
        font-family: var(--font-poppins-bold);
    }
    .notification {
        position: absolute;
        width: max-content;
        left: 0;
        right: 0;
        bottom: 2vh;
        margin-left: auto;
        margin-right: auto;
        border-radius: 6px;
        background-color: #9FFF78;
        backdrop-filter: blur(3px);
        color:  #268500;
        font-size: 15px;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        transform: translateY(30px);
        opacity: 0;
        visibility: hidden;
        animation: fade-in 5s linear;
        /* tempo do alert  */
    }
    
    .notification-erro3 {
        position: absolute;
        width: max-content;
        left: 0;
        right: 0;
        bottom: 24px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 6px;
        background-color: #FF7878;
        color: #850000;
        backdrop-filter: blur(3px);
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        transform: translateY(30px);
        opacity: 0;
        visibility: hidden;
        animation: fade-in 5s linear;
        /* tempo do alert  */
    }
    
    .notification-erro2 {
        position: absolute;
        width: max-content;
        left: 0;
        right: 0;
        bottom: 24px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 6px;
        background-color: #D9D9D9;
        color: #0067D5;
        font-size: 30px;
        backdrop-filter: blur(5px);
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        transform: translateY(30px);
        opacity: 0;
        visibility: hidden;
        animation: fade-in 5s linear;
        /* tempo do alert  */
    }
    
    .notification_body {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px 8px;
        font-size: 20px;
        font-weight: 400;
        font-family: 'Poppins-Regular', sans-serif;
    }
    .icon-alert{
        width: 20px;
        margin-right: 10px;
    }
    .notification_progress {
        position: absolute;
        left: 4px;
        bottom: 4px;
        width: calc(100% - 8px);
        height: 2px;
        transform: scaleX(0);
        transform-origin: left;
        background: linear-gradient(to right, #9FFF78,  #268500);
        border-radius: inherit;
        animation: progress 4.5s 0.3s linear;
        /* tempo da barra de progresso doalert  */
    }
    
    .notification_progress-erro3 {
        position: absolute;
        left: 4px;
        bottom: 4px;
        width: calc(100% - 8px);
        height: 2px;
        transform: scaleX(0);
        transform-origin: left;
        background: linear-gradient(to right, #FF7878, #850000);
        border-radius: inherit;
        animation: progress 4.5s 0.3s linear;
    }
    
    .notification_progress-erro2 {
        position: absolute;
        left: 4px;
        bottom: 4px;
        width: calc(100% - 8px);
        height: 2px;
        transform: scaleX(0);
        transform-origin: left;
        background: linear-gradient(to right, #D9D9D9, #0067D5);
        border-radius: inherit;
        animation: progress 4.5s 0.3s linear;
    }
    .error {
        color: red;
    }
    .notification_body span{
        font-size: 17px;
        font-weight: 400;
    }
    @keyframes fade-in {
        5% {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }

        95% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes progress {
        to {
            transform: scaleX(1);
        }

    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        overflow: hidden;
    }

    .mobile-view {
        display: none;
    }

    .desktop-view {
        padding: 5%;
        height: 100vh;
        display: flex;
        justify-content: center;
        background-image: url(../images/v1070-03\ 1.png);
    }

    .container-desktop {
        display: flex;
        background-color: var(--blue0);
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        width: 90vw;
        box-shadow: 10px 10px 10px 10px #00000081;
        transition: 200ms ease-in-out;
        -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    .content {
        display: flex;
        padding: 5%;
        justify-content: center;
        flex-direction: column;
    }

    .arara-imagem img {
        width: 350px;
    }

    .title {
        color: var(--blue3);
        margin: 1% 0%;
        display: flex;
        justify-content: center;
        align-items: left;
        flex-direction: column;
        padding: 5%;
    }

    .title h1,
    .title p {
        font-family: var(--font-poppins-bold);
    }

    .title h1 {
        font-size: 3rem;
    }

    .title p {
        font-size: 1rem;
    }

    .item {
        display: flex;
        justify-content: left;
        flex-direction: column;
    }

    .formu {
        padding: 2%;
        background-color: var(--white);
        border-radius: 10px;
        display: flex;
        justify-content: left;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 50vw;
    }

    .formu form {
        height: 100%;
        display: flex;
        padding: 2%;
        justify-content: left;
        align-content: center;
        position: relative;
        flex-direction: column;
    }

    .item {
        margin: 5px 0px;
    }

    .item a {
        color: var(--blue3);
        font-family: var(--font-poppins-bold);
        transition: 200ms ease-in-out;
        text-decoration: none;
        width: 110px;
    }

    .item a:hover {
        color: var(--blue2);
    }

    .item input {
        padding: 5px;
        width: 100%;
        border: 1px solid var(--white1);
        background-color: var(--white1);
        border-radius: 5px;
        transition: 200ms ease-in-out;
    }

    .item button {
        padding: 8px;
        border: none;
        background-color: var(--blue3);
        border-radius: 5px;
        color: var(--white);
        font-family: var(--font-poppins-bold);
        cursor: pointer;
        transition: 200ms ease-in-out;
    }

    .item button:hover {
        background-color: var(--blue2);
    }
}

@media screen and (min-width: 1025px) {
    body {
        overflow: hidden;
    }

    .mobile-view {
        display: none;
    }

    .desktop-view {
        padding: 3%;
        height: 100vh;
        display: flex;
        justify-content: center;
        background-image: url(../images/v1070-03\ 1.png);
    }

    .container-desktop {
        display: flex;
        background-color: var(--blue0);
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        width: 70vw;
        box-shadow: 10px 10px 10px 10px #00000081;
        -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    .content {
        display: flex;
        padding: 5%;
        justify-content: center;
        flex-direction: column;
    }

    .arara-imagem img {
        width: 400px;
    }

    .title {
        color: var(--blue3);
        margin: 1% 0%;
        display: flex;
        justify-content: center;
        align-items: left;
        flex-direction: column;
        padding: 5%;
    }

    .title h1,
    .title p {
        font-family: var(--font-poppins-bold);
    }

    .title h1 {
        font-size: 3rem;
    }

    .title p {
        font-size: 1rem;
    }

    .item {
        display: flex;
        justify-content: left;
        flex-direction: column;
    }

    .formu {
        padding: 2%;
        background-color: var(--white);
        border-radius: 10px;
        display: flex;
        justify-content: left;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 35cqw;
    }

    .formu form {
        height: 100%;
        display: flex;
        width: 100%;
        padding: 5%;
        justify-content: left;
        align-content: center;
        position: relative;
        flex-direction: column;
    }

    .item {
        margin: 5px 0px;
    }

    .item a {
        color: var(--blue3);
        font-family: var(--font-poppins-bold);
        transition: 200ms ease-in-out;
        text-decoration: none;
        width: 100%;
        display: flex;
    }

    .return {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }

    .return a {
        transition: 200ms ease-in-out;
        color: var(--blue3);
        text-decoration: none;
        font-family: var(--font-poppins-bold);
    }

    .return a:hover {
        color: var(--blue2);
    }

    .item a:hover {
        color: var(--blue2);
    }

    .register {
        display: flex;
        width: 100%;
        font-size: .9rem;
    }

    .register a {
        color: var(--blue3);
        text-decoration: none;
    }

    .item input {
        padding: 5px;
        width: 100%;
        border: 1px solid var(--white1);
        background-color: var(--white1);
        border-radius: 5px;
        transition: 200ms ease-in-out;
    }

    .item button {
        padding: 8px;
        border: none;
        background-color: var(--blue3);
        border-radius: 5px;
        color: var(--white);
        font-family: var(--font-poppins-bold);
        cursor: pointer;
        transition: 200ms ease-in-out;
    }

    .item button:hover {
        background-color: var(--blue2);
    }
   

    .notification {
        position: absolute;
        width: max-content;
        left: 0;
        right: 0;
        bottom: 2vh;
        margin-left: auto;
        margin-right: auto;
        border-radius: 6px;
        background-color: #9FFF78;
        backdrop-filter: blur(3px);
        color:  #268500;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        transform: translateY(30px);
        opacity: 0;
        visibility: hidden;
        animation: fade-in 5s linear;
        /* tempo do alert  */
    }
    
    .notification-erro3 {
        position: absolute;
        width: max-content;
        left: 0;
        right: 0;
        bottom: 24px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 6px;
        background-color: #FF7878;
        color: #850000;
        backdrop-filter: blur(3px);
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        transform: translateY(30px);
        opacity: 0;
        visibility: hidden;
        animation: fade-in 5s linear;
        /* tempo do alert  */
    }
    
    .notification-erro2 {
        position: absolute;
        width: max-content;
        left: 0;
        right: 0;
        bottom: 24px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 6px;
        background-color: #D9D9D9;
        color: #0067D5;
        backdrop-filter: blur(5px);
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        transform: translateY(30px);
        opacity: 0;
        visibility: hidden;
        animation: fade-in 5s linear;
        /* tempo do alert  */
    }
    
    .notification_body {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px 8px;
        font-size: 20px;
        font-weight: 400;
        font-family: 'Poppins-Regular', sans-serif;
    }
    .icon-alert{
        width: 20px;
        margin-right: 10px;
    }
    .notification_progress {
        position: absolute;
        left: 4px;
        bottom: 4px;
        width: calc(100% - 8px);
        height: 3px;
        transform: scaleX(0);
        transform-origin: left;
        background: linear-gradient(to right, #9FFF78,  #268500);
        border-radius: inherit;
        animation: progress 4.5s 0.3s linear;
        /* tempo da barra de progresso doalert  */
    }
    
    .notification_progress-erro3 {
        position: absolute;
        left: 4px;
        bottom: 4px;
        width: calc(100% - 8px);
        height: 3px;
        transform: scaleX(0);
        transform-origin: left;
        background: linear-gradient(to right, #FF7878, #850000);
        border-radius: inherit;
        animation: progress 4.5s 0.3s linear;
    }
    
    .notification_progress-erro2 {
        position: absolute;
        left: 4px;
        bottom: 4px;
        width: calc(100% - 8px);
        height: 3px;
        transform: scaleX(0);
        transform-origin: left;
        background: linear-gradient(to right, #D9D9D9, #0067D5);
        border-radius: inherit;
        animation: progress 4.5s 0.3s linear;
    }
    .error {
        color: red;
    }


    @keyframes fade-in {
        5% {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }

        95% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes progress {
        to {
            transform: scaleX(1);
        }

    }


}
