@import url(./home.css);
@font-face {
    font-family: 'Poppins-Black';
    src: url(../fonts/Poppins/Poppins-Black.ttf);
}

@font-face {
    font-family: 'Poppins-BlackItalic';
    src: url(../fonts/Poppins/Poppins-BlackItalic.ttf);
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

:root {
    --blue0: #ebf7ff;
    --blue2: #6ac3fa;
    --blue3: #1187cf;
    --blue4: #1639b1;
    --blue5: #1639b1;
    --white: #ffffff;
    --black: #000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins-Regular', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    background-color: var(--blue0);
}

@media screen and (max-width: 768px) {
    .contain {
        display: flex;
        position: relative;
        top: 10vh;
        justify-content: center;
        padding: 0;
        transition: 500ms ease-in-out .1s;
        flex-direction: row;
        border-right: 1px solid var(--blue2);
    }

    .suit-cards {
        display: flex;
        justify-content: left;
        width: 80vw;
        flex-wrap: wrap;
        padding: 0% 5%;
    }

    .cards {
        transition: 500ms ease-in-out .1s;
        background-color: var(--blue3);
        padding: 1%;
        border-radius: 8px;
        margin: 10px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        width: 25vw;
        margin-top: 5%;
    }


    .cards a {
        background-color: var(--blue3);
        display: flex;
        justify-content: center;
        border-radius: 8px;
        width: 100%;
        text-decoration: none;
        color: var(--blue0);
    }

    .cards a p {
        background-color: var(--blue3);
        font-size: 1rem;
    }

    .access-card {
        display: flex;
        flex-direction: column;
    }

    .figure-card {
        padding: 2%;
        display: flex;
        justify-content: end;
    }

    .figure-card img {
        width: 45%;
    }

    .name-card p {
        font-family: 'Poppins-Bold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .description-card {
        transition: 500ms ease-in-out .1s;
    }

    .title-container {
        display: flex;
        position: relative;
        top: 10vh;
        justify-content: left;
        padding: 2%;
    }

    .title-container h2 {
        padding: 0% 0% 0% 5%;
        font-family: 'Poppins-Bold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: var(--blue3);
    }

    .side-bar-status {
        display: flex;
        position: fixed;
        justify-content: center;
        width: 30vw;
        border-left: 1px solid var(--blue2);
        padding: 1%;
        height: 100%;
        top: -5vh;
        flex-direction: column;
    }

    .side-status {
        display: flex;
        position: relative;
        right: 0;
    }

    .container-avatar-user {
        background-color: var(--blue2);
        padding: 10%;
        border-radius: 10px;
        color: var(--blue0);
        width: 100%;
    }

    .container-avatar-user p {
        font-family: 'Poppins-Bold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .avatar-user {
        display: flex;
        justify-content: center;
    }

    .avatar-user img {
        width: 100px;
    }

    .status .info {
        display: flex;
        justify-content: space-between;
    }

    .info p {
        display: flex;
        justify-content: left;
        padding: 0;
        font-size: small;
        align-items: center;
    }

    .info b {
        margin: 0px 5px;
    }

    .side-status {
        display: flex;
        position: fixed;
        justify-content: end;
    }

    .level {
        margin: 5px;
    }

    .level p {
        font-size: small;
        font-weight: bold;
    }

    .statistics {
    display: flex;
    justify-content: center;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .contain {
        display: flex;
        position: relative;
        top: 10vh;
        justify-content: left;
        padding: 0;
        transition: 500ms ease-in-out .1s;
        flex-direction: column;
        border-right: 1px solid var(--blue2);
    }

    .suit-cards {
        display: flex;
        justify-content: left;
        width: 80vw;
        flex-wrap: wrap;
        padding: 0% 5%;
    }

    .cards {
        transition: 500ms ease-in-out .1s;
        background-color: var(--blue3);
        padding: 1%;
        border-radius: 8px;
        margin: 10px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        width: 25vw;
        margin-top: 1%;
        margin-left: 6%;
    }


    .cards a {
        background-color: var(--blue3);
        display: flex;
        justify-content: center;
        border-radius: 8px;
        width: 100%;
        text-decoration: none;
        color: var(--blue0);
    }

    .cards a p {
        background-color: var(--blue3);
        font-size: 1.3rem;
    }

    .access-card {
        display: flex;
        flex-direction: column;
    }

    .figure-card {
        padding: 2%;
        display: flex;
        justify-content: end;
    }

    .figure-card img {
        width: 45%;
    }

    .name-card p {
        font-family: 'Poppins-Bold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .description-card {
        transition: 500ms ease-in-out .1s;
    }

    .title-container {
        display: flex;
        position: relative;
        top: 10vh;
        justify-content: left;
        padding: 2%;
    }

    .title-container h2 {
        padding: 0% 0% 0% 5%;
        font-family: 'Poppins-Bold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: var(--blue3);
    }

    .side-bar-status {
        display: flex;
        position: fixed;
        justify-content: center;
        width: 30vw;
        border-left: 1px solid var(--blue2);
        padding: 1%;
        height: 100%;
        top: -5vh;
        flex-direction: column;
    }

    .side-status {
        display: flex;
        position: relative;
        right: 0;
    }

    .container-avatar-user {
        background-color: var(--blue2);
        padding: 10%;
        border-radius: 10px;
        color: var(--blue0);
        width: 100%;
    }

    .container-avatar-user p {
        font-family: 'Poppins-Bold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .avatar-user {
        display: flex;
        justify-content: center;
    }

    .avatar-user img {
        width: 100px;
    }

    .status .info {
        display: flex;
        justify-content: space-between;
    }

    .info p {
        display: flex;
        justify-content: left;
        padding: 0;
        font-size: small;
        align-items: center;
    }

    .info b {
        margin: 0px 5px;
    }

    .side-status {
        display: flex;
        position: fixed;
        justify-content: end;
    }

    .level {
        margin: 5px;
    }

    .level p {
        font-size: small;
        font-weight: bold;
    }

    .statistics {
    display: flex;
    justify-content: center;
    }
}

@media screen and (min-width: 1025px) {
    /* Estilos para PCs */

    .desktop-view{
        height: 100vh;
    }
    .page{
        display: flex;
        justify-content: space-evenly;
        width: 90vw;
    }
    .contain {
        display: flex;
        position: relative;
        top: 10vh;
        justify-content: left;
        padding: 0;
        transition: 500ms ease-in-out .1s;
        flex-direction: column;
        margin-right: 5vw;
    }
    .form-avatar{
        display: flex;
        flex-direction: row;
    }
    .inventory{
        position: relative;
        top: 10vh;
        width: 50vw;
        height: 50vh;
        display: flex;
        flex-wrap: wrap;
    }
    .card-item{
        width: 8VW;
        height: 12vh;
        border-radius: 5%;
        border: 2px solid var(--blue3);
        flex: 0 0 cal(100% /5);
        margin: 0.5vh 1vw;
    }
    .card-item p{
        text-align: center;
        font-size: 4rem;
        color: var(--blue3);
    }
    .items{
        position: relative;
        left: 7vw;
    }
    .img-avatar{
        position: relative;
        width: 20vw;
        height: 40vh;
        position: relative;
        top: 10vh;
        background-color:var(--blue2);
        border-radius: 5%;
    }
}
    .buttons{
        position: relative;
        margin-top: 15vh;
        width: 20vw;
        display: flex;
        justify-content: space-between;
    }
    .buttons button{
        padding: 5%;
        background-color: #1C96E1;
        border-radius: 15px;
        border: none;
        color: white;
        font-family: var(--font-poppins-bold);
    }

    .suit-cards {
        display: flex;
        justify-content: left;
        width: 80vw;
        flex-wrap: wrap;
        padding: 0% 5%;
    }

    .cards {
        transition: 500ms ease-in-out .1s;
        background-color: var(--blue3);
        padding: 1%;
        border-radius: 8px;
        margin: 10px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        width: 13vw;
        margin-top: 2%;
        margin-left: 6%;
    }


    .cards a {
        background-color: var(--blue3);
        display: flex;
        justify-content: center;
        border-radius: 8px;
        width: 100%;
        text-decoration: none;
        color: var(--blue0);
    }

    .cards a p {
        background-color: var(--blue3);
        font-size: 1.3rem;
    }

    .access-card {
        display: flex;
        flex-direction: column;
    }

    .figure-card {
        padding: 2%;
        display: flex;
        justify-content: end;
    }

    .figure-card img {
        width: 45%;
    }

    .name-card p {
        font-family: 'Poppins-Bold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .description-card {
        transition: 500ms ease-in-out .1s;
    }

    .title-container {
        display: flex;
        position: relative;
        top: 10vh;
        justify-content: center;
        padding: 2%;
    }

    .title-container h2 {
        padding: 0% 0% 0% 5%;
        font-family: 'Poppins-Bold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: var(--blue3);
    }

    .side-bar-status {
        display: flex;
        position: fixed;
        justify-content: center;
        width: 30vw;
        padding: 1%;
        height: 100%;
        top: -5vh;
        flex-direction: column;
    }

    .side-status {
        display: flex;
        position: relative;
        right: 0;
    }

    .container-avatar-user {
        background-color: var(--blue2);
        padding: 10%;
        border-radius: 10px;
        color: var(--blue0);
        width: 100%;
    }

    .container-avatar-user p {
        font-family: 'Poppins-Bold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .avatar-user {
        display: flex;
        justify-content: center;
    }

    .avatar-user img {
        width: 100px;
    }

    .status .info {
        display: flex;
        justify-content: space-between;
    }

    .info p {
        display: flex;
        justify-content: left;
        padding: 0;
        font-size: small;
        align-items: center;
    }

    .info b {
        margin: 0px 5px;
    }

    .side-status {
        display: flex;
        position: fixed;
        justify-content: end;
    }

    .level {
        margin: 5px;
    }

    .level p {
        font-size: small;
        font-weight: bold;
    }

    .statistics {
    display: flex;
    justify-content: center;
    }
    

@media screen and (max-width: 1447px) {}