@import url(./animations.css);
@import url(./default.css);
@import url(./home.css);

@media screen and (max-width: 768px) {}

@media screen and (min-width: 769px) and (max-width: 1024px) {}

@media screen and (min-width: 1025px) {
    .container {
        position: relative;
        padding: 6%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}