@import url(./default.css);
@import url(./animations.css);
@import url(../../../../../assets/landing/default.css);

@media screen and (max-width: 768px) {
    
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    
}

@media screen and (min-width: 1024px) {
    body {
        background-image: url(../images/background-game.svg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        cursor: var(--cursor-default);
        overflow-y: hidden;
    }

    .container-game {
        padding: 2% 5%;
    }

    .top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0% 10%;
    }

    .progress-bar {
        content: "";
        width: 80%;
        border: 2px solid var(--litera-black);
        padding: 5px;
        border-radius: 8px;
        display: flex;
        margin: 0% 2%;

        background-color: var(--litera-light-green);
    }

    .effect {
        position: relative;
        content: "";
        padding: 3px;
        border-radius: 2px;
        width: 100%;
        background-color: #ffffff70;
        top: -5px;
    }

    .time {
        position: absolute;
        left: 48%;
        top: 9%;
    }

    .time span {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--litera-orange);
        background-color: var(--litera-yellow);
        padding: 10px 15px;
        border-radius: 12px;
        font-family: var(--font-poppins-bold);
        border: 2px solid var(--litera-orange);
    }

    .coins {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0% 3%
    }

    .coins img {
        width: 40px;
        user-select: none;
        pointer-events: none
    }

    .coins span {
        font-size: 1.3rem;
        margin: 0% 5%;
    }

    .buttons {
        display: flex;
        margin: 0% 2%
    }

    .buttons button {
        margin: 0% 2%;
        display: flex;
        align-items: center;
        border-radius: 50px;
    }

    .buttons button:hover {
        cursor: var(--cursor-hand);
    }

    .buttons-modal button {
        cursor: var(--cursor-hand);
    }

    .buttons button img {
        width: 32px;
        user-select: none;
        pointer-events: none
    }

    .left button, .right button {
        cursor: var(--cursor-hand);
    }

    .game-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .animais {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .animal {
        width: 120px;
        height: 120px;
        border: 1px solid red;
        margin: 5%;
        background-image: url(../images/Frame.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat
    }

    .animal img {
        width: 100px;
        height: 100px;
        user-select: none;
        pointer-events: none
    }

    .palavras {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column
    }

    .palavra {
        width: 120px;
        border: 1px solid red;
        height: 120px;
        margin: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../images/Frame.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat
    }

    .palavra span {
        display: flex;
        justify-content: center;
        align-content: center;
        color: var(--litera-white);
        font-family: var(--font-poppins-bold);
        text-shadow: 1px 1px 2px var(--litera-black);
        user-select: none;
        -webkit-user-select: none;
        pointer-events: none
    }

    .container-animais, .container-palavras {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 5%;
    }
    
    .centralizado {
        justify-content: center;
    }
    
    .animal, .palavra {
        margin: 10px;
    }
    
    .animal img {
        width: 100px;
        height: 100px;
        user-select: none;
    }
    
    
    
}
