/* Typographic fonts */
@font-face {
    font-family: 'Poppins-Regular';
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
}


/* Variables */
:root {
    /* Defaul colors */
    --litera-white: #FFF;
    --litera-blue: #03A9F5;
    --litera-yellow: #FFD13E;
    --litera-light-green: #6AFA78;
    --litera-green: #15BE26;
    --litera-dark-green: #0E3010;

    /* Default fonts */
    --font-poppins-bold: 'Poppins-Bold';
    --font-poppins-regular: 'Poppins-Regular', sans-serif;
}

/* Default reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-poppins-regular), sans-serif;
}
