/* Styles imports */
@import url(default.css);
@import url(animations.css);

@media screen and (max-width: 768px) {

    body {
        background-color: var(--litera-light-blue);
    }

    /*Navbar*/
    nav {
        background-color: var(--litera-white);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5% 5%;
        position: fixed;
        width: 100%;
        transition: 250ms ease-in-out;
        z-index: 100;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    /*Header*/
    header {
        background-image: url(../images/fundo.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        display: flex;
        justify-content: center;
    }

    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-header {
        background-image: url(../images/Union.svg);
        background-size: calc(110%) auto;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100%;
        padding: 0% 2%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        transition: 250ms ease-in-out;
    }

    .container-header h1 {
        padding: 2% 5%;
        border-radius: 12px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--litera-blue);
        color: var(--litera-white);
        font-family: var(--font-poppins-bold);
        box-shadow: 0px 3px 1px #00000090;
    }

    .container-header h2 {
        display: flex;
        padding: 1% 5%;
        justify-content: center;
        width: 80vw;
        border-radius: 12px;
        background-color: var(--litera-yellow);
        position: relative;
        font-family: var(--font-poppins-bold);
        font-size: 1.2rem;
        box-shadow: 0px 3px 1px #00000090;
        z-index: 10;
    }

    .cta {
        position: relative;
        top: 2%;
        background-color: var(--litera-light-green);
        border-radius: 12px;
        transition: 250ms ease-in-out;
        margin: 0px 5px;
        border: 3px solid var(--litera-green);
        box-shadow: 0px 5px 0px var(--litera-dark-green);
        padding: 12px 18px;
        cursor: pointer;
    }

    .cta a {
        align-items: center;
        color: #0E3010;
        display: flex;
        font-weight: bold;
        justify-content: center;
        text-decoration: none;
        transition: 50ms;
    }

    .cta:hover {
        transform: translate(1px, 2px);
        box-shadow: none;
    }

    /*Menu mobile*/
    .menu-mobile {
        display: flex;
        flex-direction: column;
    }

    .menu-mobile .line {
        background-color: var(--litera-blue);
        content: "";
        height: 3px;
        width: 30px;
        margin: 5px 0px;
    }

    .side-menu .close-menu-mobile .line1,
    .line2 {
        content: "";
        background-color: var(--litera-yellow);
        height: 2px;
        border-radius: 12px;
    }


    .close-menu-mobile img {
        width: 32px
    }

    .close-menu-mobile {
        position: absolute;
        top: 20px;
        right: 5px;
        padding: 0% 5%;
    }

    .action-btn a {
        display: none;
    }

    /*Menu lateral*/
    .side-menu {
        display: none;
        position: fixed;
        background-color: var(--litera-light-blue);
        width: 100vw;
        height: 100%;
        z-index: 101;
        -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-left 550ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        z-index: 110;
        background-image: url(../images/v1015-104a\ 3.png);
        background-size: cover;
    }

    .side-menu ul {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 10%
    }

    .side-menu li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .side-menu li a {
        text-decoration: none;
        padding: 30%;
        font-size: 1.1rem;
        font-weight: bold;
        color: var(--litera-black);
        background-image: url(../images/Union.svg);
        background-size: calc(100%) auto;
        background-position: center center;
    }

    .cta-mobile {
        position: relative;
        display: flex;
        justify-content: center;
        top: 35%;
    }

    .cta-mobile a {
        text-decoration: none;
        padding: 15px;
        background-color: var(--litera-light-green);
        border-radius: 12px;
        color: var(--litera-dark-green);
        border: 3px solid var(--litera-green);
        font-family: var(--font-poppins-bold), sans-serif;
        box-shadow: 0px 5px 1px #000;
    }

    .cta-mobile a:hover {
        transform: translate(1px, 2px);
        box-shadow: none;
    }

    .logo-area {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-area img {
        width: 75px;
        height: auto;
        padding: 5px;
    }

    .logo-area span {
        margin: 0px 5px;
        font-family: var(--font-poppins-bold);
        color: var(--litera-blue);
        font-size: 2rem
    }

    .navigation {
        display: none;
    }


    /*Footer*/
    footer {
        padding: 2rem;
        background-color: var(--litera-white);
        color: var(--white);
        border-radius: 12px 12px 0px 0px;
        flex-wrap: wrap;
    }

    footer h4 {
        font-size: larger;
        font-family: var(--font-poppins-bold);
    }

    .logo-litera {
        display: flex;
        align-items: center
    }

    .logo-litera h4 {
        margin: 0px 5px;
        font-family: var(--font-poppins-bold);
        font-size: 2rem
    }

    .logo-litera img {
        width: 80px
    }

    .items-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between
    }

    .item-footer {
        margin: 1%;
    }

    .item-footer a {
        display: flex;
        margin: 10px 0px;
        color: var(--white);
    }

    .title-social-media {
        display: flex;
        padding: 2%;
        justify-content: center;
    }

    .social-media {
        display: flex;
        justify-content: center;
        border-top: 1px solid white;
    }

    .social-media i {
        padding: 1%;
        margin: 2%;
        font-size: 1.5rem;
    }

    /*Copyright*/
    .copy {
        display: flex;
        justify-content: center;
        margin: 5% 0%;
        font-size: .8rem;
    }

    .copy a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--font-poppins-bold);
        color: var(--white-index);
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    body {
        background-color: var(--litera-blue);
    }

    /* Navbar */
    nav {
        background-color: var(--litera-white);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 12px;
        margin: 10px;
        padding: 0% 5%;
        position: fixed;
        transition: 250ms ease-in-out;
        z-index: 100;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 50px;
        -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    }

    .side-menu {
        display: none;
        position: absolute;
        width: 80vw;
        height: 100%;
        z-index: 101;
        transition: 200ms ease-in-out;
    }

    .navigation ul {
        display: flex;
        transition: 250ms ease-in-out;
    }

    .navigation ul li {
        list-style: none;
        padding: 5px;
        margin: 0px 12px;
    }

    .navigation a {
        font-weight: bold;
        font-size: 1.1rem;
        text-decoration: none;
        color: #3B3B3B;
        display: flex;
        text-align: center;
        transition: 250ms ease-in-out;
    }

    .navigation ul li:hover>a {
        color: var(--litera-blue);
        transform: translate(0px, -3px);
        text-shadow: 1px 1px 1px #00000018;
    }

    .logo-area {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-area img {
        width: 80px;
        height: auto;
        padding: 5px;
    }

    .logo-area span {
        font-size: 2rem;
        font-family: var(--font-poppins-bold);
        color: var(--litera-blue);
    }

    .action-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--litera-light-green);
        border-radius: 12px;
        transition: 250ms ease-in-out;
        margin: 0px 5px;
        border: 3px solid var(--litera-green);
        box-shadow: 0px 5px 0px var(--litera-dark-green);
    }

    .action-btn a {
        align-items: center;
        color: #0E3010;
        display: flex;
        font-weight: bold;
        justify-content: center;
        padding: 6px 12px;
        text-decoration: none;
        transition: 50ms;
    }

    .action-btn:hover {
        transform: translate(1px, 2px);
        box-shadow: none;
    }


    /* Header */
    header {
        background-image: url(../images/fundo.svg);
        background-repeat: no-repeat;
        background-size: calc(100%) auto;
        height: 100vh;
        display: flex;
        justify-content: center;
    }

    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-header {
        background-image: url(../images/Union.svg);
        background-size: calc(100%) auto;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100%;
        width: 70vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        transition: 250ms ease-in-out;
    }

    .container-header h1 {
        padding: 2% 5%;
        width: 55vw;
        border-radius: 12px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--litera-blue);
        color: var(--litera-white);
        font-family: var(--font-poppins-bold);
        box-shadow: 0px 3px 1px #00000090;
    }

    .container-header h2 {
        display: flex;
        padding: 1% 5%;
        justify-content: center;
        width: 50vw;
        border-radius: 12px;
        background-color: var(--litera-yellow);
        position: relative;
        font-family: var(--font-poppins-bold);
        font-size: 1.3rem;
        box-shadow: 0px 3px 1px #00000090;
        z-index: 10
    }

    .cta {
        position: relative;
        top: 2%;
        background-color: var(--litera-light-green);
        border-radius: 12px;
        transition: 250ms ease-in-out;
        margin: 0px 5px;
        border: 3px solid var(--litera-green);
        box-shadow: 0px 5px 0px var(--litera-dark-green);
        padding: 12px 18px;
        cursor: pointer;
    }

    .cta a {
        align-items: center;
        color: #0E3010;
        display: flex;
        font-weight: bold;
        justify-content: center;
        text-decoration: none;
        transition: 50ms;
    }

    .cta:hover {
        transform: translate(1px, 2px);
        box-shadow: none;
    }

    main {
        background-image: url(../images/v1015-104a\ 3.png);
    }

    /*Main*/
    main .cards-section {
        padding: 2% 5%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-position-x: center;
    }


    .title-section-cards {
        display: flex;
        justify-content: center;
    }

    .title-section-cards h2 {
        display: flex;
        justify-content: center;
        color: var(--orange);
        background-color: var(--white-index);
        padding: 15px 100px;
        border-radius: 12px;
        animation: float 800ms ease-in-out infinite;
        font-size: 2rem
    }

    .cards {
        display: flex;
        justify-content: center;
    }

    .card {
        width: 30vw;
        padding: 2%;
        margin: 2%;
        background-color: var(--white-index);
        color: var(--dark-b);
        border-radius: 12px;
        cursor: pointer;
        z-index: 1;
    }

    .card:hover {
        transition: 250ms ease;
        transform: translate(5px, 10px);
        transform: rotate(5deg);
        box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
    }

    .content-card h4 {
        font-family: var(--font-poppins-bold);
        color: var(--dark-b);
        margin: 5% 0%;
    }

    .content-card-p p {
        color: var(--blue-index);
    }

    .tag-card {
        background-color: var(--orange);
        border-radius: 50%;
        width: min-content;
        padding: 10px 18px;
    }

    .tag-card span {
        color: var(--white-index);
        font-family: var(--font-poppins-bold);
    }

    .video {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 6%;
        background-color: #ffffff80;
        margin: 0% 5%;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 50px;
    }

    .video video {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        margin: 2% 25%;
        width: 700px;
    }


    .contato {
        background-color: var(--white-index);
        padding: 5%;
        margin: 2% 5%;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 50px;
    }

    .title-form {
        display: flex;
        justify-content: center;
    }

    .title-form h2 {
        display: flex;
        justify-content: center;
        color: var(--orange);
        font-size: 2rem;
    }

    .container-form {
        margin: 5%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .imagem-contato img {
        width: 400px;
    }

    .container-form form {
        background-color: var(--blue4);
        padding: 0% 0%;
        width: 30vw;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 50px;
    }

    .container-form form .item-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0% 5%;
    }

    .item-form label {
        margin: 3% 0%;
        color: var(--white-index);
        font-family: var(--font-poppins-bold);
    }

    .item-form input,
    .item-form textarea {
        padding: 12px;
        border-radius: 12px;
        border: none;
    }

    .bottom {
        margin: 0% 5%;
    }


    .bottom button {
        padding: 10px;
        margin: 2% 0%;
        border-radius: 12px;
        color: #0E3010;
        width: 100%;
        cursor: pointer;
        background-color: var(--green);
        border: none;
        font-family: var(--font-poppins-bold);
        transition: 250ms;
    }


    .bottom button:hover {
        background-color: var(--yellow);
    }


    /* Footer */
    footer {
        padding: 2rem 3rem;
        background-color: #fff;
        color: var(--blue-index);
        flex-wrap: wrap;
        width: 100%;
        border-radius: 25px 25px 0px 0px;
        position: relative;
        top: 15vh;
    }

    footer h4 {
        font-size: larger;
        font-family: var(--font-poppins-bold);
    }

    .items-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .logo-litera {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2% 0%;
    }

    .logo-litera h4 {
        font-size: 2rem;
        margin: 2% 1%;
        font-family: var(--font-poppins-bold);
        color: var(--blue-index);
    }

    .logo-litera img {
        width: 80px;
        padding: 5px;
    }

    .item-footer {
        margin: 1%
    }

    .item-footer a {
        display: flex;
        margin: 10px 0px;
    }

    .item-footer a:hover {
        color: #0E3010;
        transition: 200ms;
    }

    .title-social-media {
        display: flex;
        padding: 2% 1%;
        justify-content: left;
    }

    .social-media {
        display: flex;
        justify-content: left;
        border-top: 1px solid white
    }

    .social-media i {
        padding: 1%;
        margin: 1% 1% 0% 1%;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .social-media i {
        transition: 250ms;
        color: #4b4b4b;
    }

    .social-media #instagram:hover {
        color: #fe3051;
    }

    .social-media #facebook:hover {
        color: #0863f7;
    }

    .social-media #x:hover {
        color: #000000;
    }

    .social-media #pin:hover {
        color: #cb1f27;
    }

    .social-media #youtube:hover {
        color: #ff0000;
    }

    .container-grid img {
        width: 100%;
    }


    /*Copyright*/
    .copy {
        display: flex;
        justify-content: end;
        font-family: var(--font-poppins-bold);
    }

    .copy a {
        margin: 0% .5%;
        font-family: var(--font-poppins-bold);
        color: var(--blue-index);
    }
}

@media screen and (min-width: 1024px) {

    /* Navbar */
    nav {
        background-color: var(--litera-white);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 12px;
        margin: 10px;
        padding: 0% 5%;
        position: fixed;
        width: 90%;
        transition: 250ms ease-in-out;
        z-index: 100;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 50px;
        -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    }

    .side-menu {
        display: none;
        position: absolute;
        width: 80vw;
        height: 100%;
        z-index: 101;
    }

    .navigation ul {
        display: flex;
    }

    .navigation ul li {
        list-style: none;
        padding: 5px;
        margin: 0px 12px;
    }

    .navigation a {
        font-weight: bold;
        font-size: 1.1rem;
        text-decoration: none;
        color: #3B3B3B;
        display: flex;
        text-align: center;
        transition: 250ms ease-in-out;
    }

    .navigation ul li:hover>a {
        color: var(--litera-blue);
        transform: translate(0px, -3px);
        text-shadow: 1px 1px 1px #00000018;
    }

    .logo-area {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-area img {
        width: 80px;
        height: auto;
        padding: 5px;
    }

    .logo-area span {
        font-size: 2rem;
        font-family: var(--font-poppins-bold);
        color: var(--litera-blue);
    }

    .action-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--litera-light-green);
        border-radius: 12px;
        transition: 250ms ease-in-out;
        margin: 0px 5px;
        border: 3px solid var(--litera-green);
        box-shadow: 0px 5px 0px var(--litera-dark-green);
    }

    .action-btn a {
        align-items: center;
        color: #0E3010;
        display: flex;
        font-weight: bold;
        justify-content: center;
        padding: 6px 12px;
        text-decoration: none;
        transition: 50ms;
    }

    .action-btn:hover {
        transform: translate(1px, 2px);
        box-shadow: none;
    }


    /* Header */
    header {
        background-image: url(../images/fundo.svg);
        background-repeat: no-repeat;
        background-size: calc(100%) auto;
        height: 115vh;
        display: flex;
        justify-content: center;
    }

    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-header {
        background-image: url(../images/Union.svg);
        background-size: calc(100%) auto;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        transition: 250ms ease-in-out;

    }

    .container-header h1 {
        padding: 2% 5%;
        width: 55vw;
        border-radius: 12px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--litera-blue);
        color: var(--litera-white);
        font-family: var(--font-poppins-bold);
        box-shadow: 0px 5px 1px #00000090;
    }

    .container-header h2 {
        display: flex;
        padding: 1% 5%;
        justify-content: center;
        width: 50vw;
        border-radius: 12px;
        background-color: var(--litera-yellow);
        position: relative;
        font-family: var(--font-poppins-bold);
        font-size: 1.3rem;
        box-shadow: 0px 5px 1px #00000090;
        z-index: 10;
    }

    .cta {
        position: relative;
        top: 2%;
        background-color: var(--litera-light-green);
        border-radius: 12px;
        transition: 250ms ease-in-out;
        margin: 0px 5px;
        border: 3px solid var(--litera-green);
        box-shadow: 0px 5px 0px var(--litera-dark-green);
        cursor: pointer;
        padding: 12px 20px;
        cursor: pointer;
    }

    .cta a {
        align-items: center;
        color: #0E3010;
        display: flex;
        font-weight: bold;
        justify-content: center;
        text-decoration: none;
        transition: 50ms;
    }

    .cta:hover {
        transform: translate(1px, 2px);
        box-shadow: none;
    }

    /*Main*/
    main {
        background-image: url(../images/fundoNuvens.svg);
        background-repeat: no-repeat;
        background-size: cover
    }

    main .cards-section {
        padding: 2% 5%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-position-x: center;
    }

    .title-section-cards {
        display: flex;
        justify-content: center;
    }

    .title-section-cards h2 {
        display: flex;
        justify-content: center;
        color: var(--litera-black);
        background-color: var(--litera-yellow);
        padding: 15px 100px;
        border-radius: 12px;
        animation: float 800ms ease-in-out infinite;
        font-size: 2rem
    }

    .cards {
        display: flex;
        justify-content: center;
    }

    .card {
        width: 30vw;
        padding: 2%;
        margin: 2%;
        background-color: var(--litera-white);
        color: var(--dark-b);
        border-radius: 12px;
        cursor: pointer;
        z-index: 1;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .card:hover {
        transition: 250ms ease-out;
        transform: rotate(5deg);
    }

    .card:not(:hover) {
        transition: 0.5s ease-out;
        transform: rotate(0deg);
    }

    .content-card h4 {
        font-family: var(--font-poppins-bold);
        color: var(--litera-dark-blue);
        margin: 5% 0%;
    }

    .content-card-p p {
        color: var(--litera-blue);
    }

    .tag-card {
        background-color: var(--litera-yellow);
        border-radius: 50%;
        width: min-content;
        padding: 10px 18px;
    }

    .tag-card span {
        color: var(--white-index);
        font-family: var(--font-poppins-bold);
    }

    .video {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 6%;
        background-color: #ffffff80;
        margin: 0% 5%;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 50px;
    }

    .video video {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        margin: 2% 25%;
        width: 700px;
    }


    .contato {
        background-color: var(--white-index);
        padding: 5%;
        margin: 2% 5%;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 50px;
    }

    .title-form {
        display: flex;
        justify-content: center;
    }

    .title-form h2 {
        display: flex;
        justify-content: center;
        color: var(--orange);
        font-size: 2rem;
    }

    .container-form {
        margin: 5%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .imagem-contato img {
        width: 400px;
    }

    .container-form form {
        background-color: var(--blue4);
        padding: 0% 0%;
        width: 30vw;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 50px;
    }

    .container-form form .item-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0% 5%;
    }

    .item-form label {
        margin: 3% 0%;
        color: var(--white-index);
        font-family: var(--font-poppins-bold);
    }

    .item-form input,
    .item-form textarea {
        padding: 12px;
        border-radius: 12px;
        border: none;
    }

    .bottom {
        margin: 0% 5%;
    }

    .bottom button {
        padding: 10px;
        margin: 2% 0%;
        border-radius: 12px;
        color: #0E3010;
        width: 100%;
        cursor: pointer;
        background-color: var(--green);
        border: none;
        font-family: var(--font-poppins-bold);
        transition: 250ms;
    }

    .bottom button:hover {
        background-color: var(--yellow);
    }



    /* Footer */
    footer {
        padding: 2rem 3rem;
        background-color: #fff;
        color: var(--blue-index);
        flex-wrap: wrap;
        width: 100%;
        border-radius: 25px 25px 0px 0px;
        position: relative;
        top: 15vh;
    }

    footer h4 {
        font-size: larger;
        font-family: var(--font-poppins-bold);
    }

    .items-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .logo-litera {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2% 0%;
    }

    .logo-litera h4 {
        font-size: 2rem;
        margin: 2% 1%;
        font-family: var(--font-poppins-bold);
        color: var(--blue-index);
    }

    .logo-litera img {
        width: 80px;
        padding: 5px;
    }

    .item-footer {
        margin: 1%
    }

    .item-footer a {
        display: flex;
        margin: 10px 0px;
        color: var(--dark-b);
    }

    .item-footer a:hover {
        color: #0E3010;
        transition: 200ms;
    }

    .title-social-media {
        display: flex;
        padding: 2% 1%;
        justify-content: left;
    }

    .social-media {
        display: flex;
        justify-content: left;
        border-top: 1px solid white
    }

    .social-media i {
        padding: 1%;
        margin: 1% 1% 0% 1%;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .social-media i {
        transition: 250ms;
        color: #4b4b4b;
    }

    .social-media #instagram:hover {
        color: #fe3051;
    }

    .social-media #facebook:hover {
        color: #0863f7;
    }

    .social-media #x:hover {
        color: #000000;
    }

    .social-media #pin:hover {
        color: #cb1f27;
    }

    .social-media #youtube:hover {
        color: #ff0000;
    }

    .container-grid img {
        width: 100%;
    }


    /*Copyright*/
    .copy {
        display: flex;
        justify-content: end;
        font-family: var(--font-poppins-bold);
    }

    .copy a {
        margin: 0% .5%;
        font-family: var(--font-poppins-bold);
        color: var(--blue-index);
    }
}

@media screen and (max-height: 1366px) {
    /*header {
        height: 60vh;
    }*/

    .stitle {
        padding: 0;
        position: relative;
        top: 0;
        background-color: #ffffff99;
    }

    .stitle .big-title {
        padding: 0;
    }

}


@media screen and (min-width: 1920px) and (min-height: 1080px) {

}
